<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Descuentos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Editar descuento.</p>
    </div>
</div>

<form #updateForm="ngForm" (ngSubmit)="updateDiscount(updateForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px">Registro</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Titulo de descuento</label>
                            <input type="text" class="form-control" placeholder="Titulo del descuento" required name="title" [(ngModel)]="discount.title" />
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="">Fecha inicio</label>
                            <input type="date" class="form-control" required name="init_date" [(ngModel)]="discount.init_date" />
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="">Fecha fin</label>
                            <input type="date" class="form-control" required name="end_date" [(ngModel)]="discount.end_date" />
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="">Descuento %</label>
                            <input type="number" class="form-control" placeholder="Porcentaje del descuento" required name="discount" [(ngModel)]="discount.discount" />
                        </div>


                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Banner</label>
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeEvent($event)" />
                                <label class="custom-file-label" id="input-banner" for="file-input" style="white-space:nowrap; overflow:hidden">select Banner</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <img [src]="imgSelected" class="img-thumbnail" alt="Rounded image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!btnDisabled" class="btn btn-primary mr-3" type="submit">Actualizar descuento</button>
            <button *ngIf="btnDisabled" type="button" class="btn btn-secondary" disabled>
                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                Actualizando...
            </button>
            <a class="btn btn-warning" [routerLink]="['/panel/discounts']">Regresar</a>
        </div>
    </div>
</form>