<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Descuentos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los descuentos de la tienda.</p>
        <p class="font-size-sm font-weight-medium pl-md-4">
            <a class="text-nowrap" [routerLink]="['/panel/discount/register']">Registrar nuevo descuento<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a>
        </p>
    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Filtro de descuentos</h5>
    </div>
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Título descuento " name="filter" [(ngModel)]="filter">
                    <div class="input-group-append">
                        <button class="btn btn-primary mr-3" type="button" (click)="filterDiscounts()">Filtrar</button>
                        <button class="btn btn-info" type="button" (click)="reload()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-success" (click)="donwloadExcel()">Exportar a Excel</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Título</th>
                        <th>Descuento</th>
                        <th>Vigencia</th>
                        <th>Estado</th>
                        <th>OP</th>
                    </tr>
                </thead>
                <tbody *ngIf="loadingData">
                    <tr>
                        <td class="text-center" colspan="7">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Cargando...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <ng-container *ngIf="!loadingData">
                    <ng-container *ngIf="discounts.length == 0">
                        <tr>
                            <td colspan="5" class="text-center">
                                <span class="text-muted">No se encontraron registros</span>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="discounts.length >= 1">
                        <tbody *ngFor="let discount of discounts| slice: (page-1)*pageSize: (page-1)*pageSize + pageSize">
                            <tr>
                                <td>
                                    <h6 style="padding-bottom: 0; margin-bottom: 0;">
                                        <img style="width: 50px;" [src]="url+'getBannerDiscount/'+discount.banner" class="img-thumbnail rounded-0"> {{discount.title}}
                                    </h6>
                                </td>
                                <td>{{discount.discount}} %</td>
                                <td>{{discount.init_date}} - {{discount.end_date}}</td>
                                <td>
                                    <span *ngIf="discount.state == 'Proximamente'" class="badge badge-primary">{{discount.state}}</span>
                                    <span *ngIf="discount.state == 'Expirado'" class="badge badge-danger">{{discount.state}}</span>
                                    <span *ngIf="discount.state == 'En progreso'" class="badge badge-success">{{discount.state}}</span>
                                </td>
                                <td>
                                    <div class="btn-group dropdown d-inline-block mb-3 mr-2">
                                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Opciones
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" [routerLink]="['/panel/discount', discount._id]" routerLinkActive="router-link-active">Editar descuento</a>
                                            <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+discount._id">Eliminar descuento</a>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="delete-{{discount._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">
                                                        Eliminar descuento
                                                    </h4>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Desea eliminar {{discount.title}}?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                                    <button *ngIf="!btnDisabled" class="btn btn-primary btn-shadow btn-sm" type="button" (click)="deleteDiscount(discount._id)">Eliminar</button>
                                                    <button *ngIf="btnDisabled" type="button" class="btn btn-secondary">
                                                        <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                                                        Eliminando...
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>

                </ng-container>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="discounts.length"></ngb-pagination>
    </div>
</div>